body {
    font-family: DM Sans;
}


img {
    padding-top: 20px;
}

#viz {
    width: 100%;
    margin-left: 70pt;

}


#container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#control {
    width: 20%;
    margin-top: 70pt;
    margin-left: 0pt;
    margin-right: 10pt;

}

#hint {
    margin-top: 0pt;
    font-size: 10pt;

}

.checkbox-container {
    display: flex;
    align-items: center;
}


.checkbox-container svg {
    margin-right: 8px;
    /* adjust as needed */
}

#title {
    display: flex;
    flex-direction: row;
    margin-left: 70pt;
    margin-top: 20pt;
}

h2 {
    padding-left: 20px;
    font-weight: 400;
    font-size: 25pt;
}

#dropDown {
    margin-bottom: 20pt;
}

#buttons {
    margin-top: 20pt;

}

select {
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14pt;
}

button {
    background-color: #f8f8f8;
    /* Green */
    color: #333;
    /* White text */
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 10pt;
}

button:hover {
    background-color: #aeaeae;
    /* Green background on hover */
}



@media only screen and (max-width: 1300px) {

    label {

        font-size: 8pt;
    }



    select {
        font-size: 10pt;
    }


    #control {
        margin-top: 30pt;


    }

    p {
        font-size: 8pt;

    }


    button {
        font-size: 8pt;
    }


    h2 {

        font-size: 20pt;

    }


    img {
        padding-top: 20px;
        height: 80px;
    }


    #dropDown {
        margin-bottom: 10pt;
    }

}