body {
    font-family: DM Sans;
}


img {
    padding-top: 20px;
}

#viz {
    width: 100%;
    margin-left: 0pt;

}

.svg-icon {
    max-width: 50%;
    /* Adjust this to your needs */
    height: auto;
    /* Maintains aspect ratio */
}

p {
    font-size: 10pt;

}

#selectYear {
    font-size: 15pt;


}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#control {
    width: 20%;
    margin-top: 70pt;
    margin-left: 10pt;
    margin-right: 0pt;

}

#hint {
    padding-right: 70pt;
    font-size: 10pt;

}

.checkbox-container {
    display: flex;
    align-items: center;
}


.checkbox-container svg {
    margin-right: 8px;
    /* adjust as needed */
}

label {

    font-size: 10pt;
}


#title {
    display: flex;
    flex-direction: row;
    margin-left: 70pt;
    margin-top: 20pt;
}

h2 {
    padding-left: 20px;
    font-weight: 400;
    font-size: 25pt;
}

#dropDown {
    margin-bottom: 20pt;
}

#buttons {
    margin-top: 20pt;

}

select {
    background-color: #9e9c9c;
    color: #fafafa;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14pt;
}

button {
    background-color: #f8f8f8;
    /* Green */
    color: #333;
    /* White text */
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 10pt;
}

button:hover {
    background-color: #aeaeae;
    /* Green background on hover */
}



@media only screen and (max-width: 1300px) {

    label {

        font-size: 8pt;
    }

    .checkbox-container svg {
        margin-right: 5px;
    }


    #hint {
        padding-right: 20pt;
        font-size: 10pt;

    }


    select {
        font-size: 10pt;
    }


    #control {
        margin-top: 20pt;
        margin-left: 10pt;


    }

    p {
        font-size: 8pt;

    }

    #selectYear {
        font-size: 10pt;


    }

    button {
        font-size: 8pt;
    }


    h2 {

        font-size: 20pt;

    }


    img {
        padding-top: 20px;
        height: 80px;
    }


    #dropDown {
        margin-bottom: 10pt;
    }

}




@media only screen and (max-width: 800px) {

    label {
        font-size: 6pt;
    }

    #hint {
        padding-right: 20pt;
        font-size: 10pt;
        margin-top: 5px;

    }

    .checkbox-container svg {
        margin-right: 3px;
    }

    select {
        font-size: 7pt;
    }


    #control {
        margin-top: 10pt;
        margin-left: 10pt;



    }

    p {
        font-size: 5pt;

    }


    #buttons {
        margin-top: 10px;
    }

    button {
        font-size: 5pt;
    }


    /* h2 {

        font-size: 15pt;

    } */


    img {
        padding-top: 20px;
        height: 80px;
    }


    #dropDown {
        margin-bottom: 10pt;
    }


    #selectYear {
        font-size: 8pt;


    }
}


@media only screen and (max-width: 500px) {

    .option {
        margin-right: 1px;
    }

    #container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    label {
        font-size: 4pt;
    }

    #hint {
        padding-right: 0pt;
        font-size: 10pt;
        margin-top: 2px;
        margin-left: 20px;


    }

    #legend {
        margin-left: 20px;
        margin-top: 1px;
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    #selectYear {
        font-size: 8pt;
        margin-left: 20px;


    }

    .checkbox-container svg {
        margin-right: 1px;
    }

    .checkbox-container p {
        margin-left: 3px;
    }

    .checkbox-container {
        margin-top: 1px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    select {
        font-size: 6pt;
        margin-left: 20px;
        margin-right: 50px;

    }


    #control {
        margin-left: 0pt;
        margin-top: 10pt;

        margin-bottom: 10pt;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;


    }

    #checkbox-section {
        margin-top: 5pt;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* gap: 10px; */

    }

    p {
        font-size: 5pt;

    }

    #buttons {
        margin-top: 0px;

    }

    button {
        margin-top: 0px;
        font-size: 3pt;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }


    h2 {
        font-size: 20pt;

    }


    img {
        padding-top: 20px;
        height: 80px;
    }


    #dropDown {
        margin-bottom: 0pt;
    }

}